<!-- User's posts -->
{{#each posts as |post| }}
<div class="mt-4 mx-4 post">
    <ul role="list" class="space-y-4">
        <li class="bg-white px-4 py-6 shadow sm:p-6 sm:rounded-lg">
            <article aria-labelledby="question-title-81614">
                <div class="flex justify-between">
                    <h2 id="question-title-81614" class="text-base font-medium text-gray-900">
                        {{post.title}}
                    </h2>
                    {{!-- <time class="text-sm text-gray-500">{{post.user.username}} {{format_date
                        post.date_created}}</time> --}}
                    <div class="text-sm text-gray-500">{{format_date post.date_created}}</div>
                </div>
            </article>
        </li>
    </ul>
</div>
{{/each}}


{{!-- Following needs to be moved to their own handlebars, css, js, controllers adjusted accordingly --}}
<!-- Create post form -->
<form class="space-y-2 mt-4 create-post-form" style="display:none">
    <div class="mx-4">
        <h3 class="p-2 text-lg leading-6 font-medium bg-gray-800 text-white rounded-md">
            Create New Post
        </h3>
    </div>

    <div class="sm:col-span-6 mx-4">
        <label for="title" class="block text-sm font-medium text-gray-700">
            Post Title
        </label>
        <div class="mt-1">
            <input type="text" name="title" id="title"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md">
        </div>
    </div>

    <div class="mx-4">
        <div>
            <div class="mt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                    <label for="content" class="block text-sm font-medium text-gray-700">
                        Post Content
                    </label>
                    <div class="mt-1">
                        <textarea id="content" name="content" rows="3"
                            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="flex justify-end mr-10">
            <button type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Create
            </button>
        </div>
    </div>
</form>

<!-- Edit post -->
<form class="space-y-2 mt-4 edit-post-form" style="display:none">
    <div class="mx-4">
        <h3 class="p-2 text-lg leading-6 font-medium bg-gray-800 text-white rounded-md">
            Edit Post
        </h3>
    </div>

    <div class="sm:col-span-6 mx-4">
        <label for="street-address" class="block text-sm font-medium text-gray-700">
            Post Title
        </label>
        <div class="mt-1">
            <input type="text" name="street-address" id="street-address" autocomplete="street-address"
                class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md">
        </div>
    </div>

    <div class="mx-4">
        <div>
            <div class="mt-2 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                    <label for="about" class="block text-sm font-medium text-gray-700">
                        Post Content
                    </label>
                    <div class="mt-1">
                        <textarea id="about" name="about" rows="3"
                            class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="flex justify-end mr-10">
            <button type="button"
                class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Delete
            </button>
            <button type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                Update
            </button>
        </div>
    </div>
</form>