h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

​ol,
ul {
  list-style: none;
  margin-bottom: 0;
  padding-inline-start: 0px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

.container-fluid {
  height: 100%;
}
